/* Custom CSS for the gradient glide effect */
.btn-glide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #F7AB1E 50%, #26ABA3 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 9999px; /* large value to ensure rounded corners */
    z-index: 0;
    transition: background-position 0.5s ease;
}

.btn-glide:hover:before {
    background-position: left bottom;
}

.btn-glide span {
    z-index: 10;
    position: relative;
}
/* image box test */
.custom-rounded-corners {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* .elementor-element .elementor-widget-container{
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
} */

/* .zoom-image-wrapper{

} */