

<footer class="bg-[#26ABA3] dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://flowbite.com/" class="flex items-center">
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"><app-logo class="text-white"></app-logo></span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-s text-white font-bold uppercase dark:text-white">Contact Us</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4 text-white font-thin">
                          <a href="#" class="hover:underline"><i class="fa-regular fa-envelope mr-2"></i>wellbe&#64;gmail.com</a>
                      </li>
                      <li class=" text-white font-thin">
                          <a href="https://tailwindcss.com/" class="hover:underline"><i class="fa-solid fa-mobile-screen mr-2"></i>+91 9145765667</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="flex items-center justify-center">
          <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">MusfiraBadriya</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>
